<!--<header class="d-flex bg-white justify-content-end py-3 " style="height: 60px;margin-bottom: 5px">-->
<!--  <ul class="nav nav-pills">-->
<!--    <li class="nav-item" style="padding-right: 270px">-->
<!--      <app-export-file></app-export-file>-->
<!--    </li>-->
<!--  </ul>-->
<!--</header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-8">-->
<!--      <app-visualization></app-visualization>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--      <app-main-view></app-main-view>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
